@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
}

/* Header for club name */
/*
h1 {
    color: #e7eee7;
    letter-spacing: 2px;
    font-size: 400%;
    text-align: center;
}
*/
/* Hero Image */

#hero-image {
    height:500px;
    width: 100%;
    background: url('../images/hero-golfcourse.jpg') no-repeat center center;
}

/*
.page-header {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
*/

/* Header for club name */

h1 {
    color: #e7eee7;
    letter-spacing: 2px;
    font-size: 400%;
    text-align: center;
}

/* Navigation menu */

#nav-menu {
    float: right;
    font-size: 110;
    letter-spacing: 4px;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: whitesmoke;
}
}

#nav-menu a:hover {
    border-bottom: 1px solid #000000;
}
