@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
    background-color: rgba(243,255, 230, .5) ;
}

/* Hero Image */

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/rsz_woodstockgolf.jpg') no-repeat center center;
}


/* Navigation menu */

#nav-menu {
    float: right;
    font-size: 110;
    letter-spacing: 2px;
    top : 0;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: white;
}

#nav-menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
} 

/* Header for club name */

#club-header {
    color: white;
    letter-spacing: 2px;
    font-size: 400%;
    text-align: center;
    padding-top: 50px;
}

/* Club Story Headers & Paragraphs*/

#welcome {
    height: 600px;
    width: 100%;
}

#welcome-head {
    font-size: 200%;
    text-align:center;
}

#club-story {
    width: 40%;
    font-size: 110%;
    padding: 30px 0 0 60px; 
    float: left;
}

/* Golfer Sunset Image */

#sunset-golfer {
    width : 40%;
    padding: 50px 60px; 
    float: right;
}

/* Footer with social networks */

footer {
    height: 150px;
    width: 100%;
    background-color: green; 
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: white;
}
