@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
}

/* Hero Image */

#banner-image {
    width: 100%;
    height: 300px;
    image-rendering: auto;
    background: url('../images/rsz_woodstockgolf.jpg') no-repeat center center;
    background-color: rgb(144, 175, 23);
}


/* Navigation menu */

#nav-menu {
    float: right;
    font-size: 110%;
    letter-spacing: 2px;
    top : 0;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: white;
}

#nav-menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
} 

/* Header for club name */

#club-name {
    color: white;
    letter-spacing: 2px;
    font-size: 400%;
    text-align: center;
    padding-top: 50px;
}

/* Club Story Headers & Paragraphs*/

.page-details {
    min-height: calc(100vh - 517px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

#club-head {
    font-size: 200%;
    text-align:center;
    padding-top: 20px; 
    padding-bottom: 20px;
    width: 100%;
}

.club-story p {
    padding-top : 10px;
}
.club-story {
    /*display: inline-block;*/
    width: 55%;
    font-size: 110%;
   /* vertical-align: top;*/
    /*padding-top: 30px;*/  
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    /*float: left;*/
}

/* Golfer Sunset Image */

.sunset-golfer {
    width : 350px;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
    /*padding-top: 50px;*/
    /*float: left;*/
    /*display: inline-block;*/
    /*vertical-align:top;*/
    
}

#sunset-golfer-pic {
    
    height: 100%;
    width: 100%;
    border-radius: 25px; 
    /*vertical-align: top;*/
      
    background: url("../images/sunset-golfer.png") no-repeat center center;
    background-size:cover;
}

/* Visitors Information */

/* Dress Code */

#dress-code {
    /*float: left;*/
    /*width: 35%;*/
    /*height: 350px;*/
    font-size: 100%;
    /*padding-top: 30px;*/  
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}


h3, h4 {
    padding-bottom: 10px;
}

/* Green Fees */

 #green-fees {
    /*float: right;*/
    /*width: 35%;*/
    min-width: 500px;
    /*flex-basis: 600px;*/
    /*height: 200px;*/
    font-size: 100%;
    /*padding-top: 30px;*/ 
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    text-transform: capitalize;
}

table {
    width: 60%;
}

/*#woodstock-map {*/
#google-frame {
    width: 400px;
    height: 400px;
    
    /*float: right;*/ 
    margin-left: 30px;
    margin-right: 30px;
}

#visitors-img-container {
    height : 138px;
    width: 360px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

#visitors-img {
    width: 100%;
    height: 100%;
    /*float: left;*/

    background: url("../images/claregolf.jpg");
}

/*Membership details page */

.membership-details {
	width: 31%;
  	/*display: inline-block;*/
    text-align: center;
}

#student-fees {
	border-style: solid;
    border-color: rgb(80, 141, 80); 
    background-color: rgba(233, 227, 227, 0.2);
    position: relative;
    left: 70px;
    top: -15px;
}  
#student-fees li {
    list-style-type: none;
}  

#members-fees {
	background-color: rgb(80, 141, 80); 
	position: relative;
	z-index: 1;
}
#members-fees li {
    list-style-type: none;
}

#couples-fees {
	border-style: solid;
    border-color: rgb(80, 141, 80); 
    background-color: rgba(233, 227, 227, 0.2);
    position: relative;
    right: 70px;
    top: -15px;
}

#couples-fees li {
    list-style-type: none;
}

#fee-terms {
    text-align: center;
    /*padding: 20px;*/
    margin-top: 30px;
    flex-basis: 100%;
}

/* Form */

.signup-form {
    border: solid;
    border-color: rgb(80, 141, 80); 
    margin: 40px 40px 40px 40px;
    background-color: rgba(233, 227, 227, 0.5);
    max-width: 550px;
    /*position: absolute;
    left: 30px;*/
    padding: 10px;
    box-shadow: 5px 10px;
}

.signup-form > h2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    width: 80%;
    height: 25px;
    margin: 5px 0 10px 10px;
    border: 1px solid black;
    border-radius: 2px;
}

.enquiry-input {
    background: transparent;
    color: black;
    width: 40%;
    height: 75px;
    margin: 10px 0 5px 0;
    border: 1px solid black;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgb(80, 141, 80); 
}

.enquire-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px; 
    text-align: center;
    font-size: 100%;
    background-color: rgb(80, 141, 80); 
    color: #fafafa;
    /*float: right;*/
}

.enquire-button:hover {
    background-color: #fafafa;
    color: rgb(80, 141, 80); 
}

#members-img-container {
    height : 350px;
    width: 640px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    /*float: right;*/
}

#members-img {
    width: 100%;
    height: 100%;
    
    background: url("../images/golf-fairway.jpg") center center;
    background-size: cover;
}

/* Shop Page */

#shop-info {
    font-size: 100%;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 50px;
}

#golfclubs-img-container {
    height : 300px;
    width: 300px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    /*float: right;*/
    border-radius: 50%;
}

#golfclubs-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("../images/golf-clubs.jpg") center center;
}
#golfglove-img-container {
    height : 300px;
    width: 300px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    /*float: right;*/
    border-radius: 50%;
}

#golfglove-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("../images/golf-glove.jpg") center top;

}

#golfshoes-img-container {
    height : 300px;
    width: 300px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    /*float: right;*/
    border-radius: 50%;
}

#golfshoes-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;  
    background: url("../images/golf-shoes.jpg") right top;

}
#golfballs-img-container {
    height : 300px;
    width: 300px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    /*float: right;*/
    border-radius: 50%;
}

#golfballs-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("../images/golf-balls.jpg") center;
}


/* Contact Page */

/* .contact-details {
    clear: left;
    background: url("../images/ball&tee.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
} */

/* Footer with social networks */

footer {
    height: 150px;
    width: 100%;
    background-color: rgb(80, 141, 80); 
    vertical-align: bottom;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: white;
}

/* Media queries */


@media screen and (max-width: 950px){
    .club-story {
        width: 80%;

    }
}

@media screen and (max-width: 765px){
    #student-fees {
        position: static;
    }
    #members-fees {
        position: static;
    }
    #couples-fees {
        position: static;
    }

    #members-img-container {
        height : 216px;
        width: 413px;
    }
}



@media screen and (max-width: 600px){
    #green-fees {
        min-width: 80%;
    }

    #golfclubs-img-container {
        margin-left: 10px;
        margin-right: 10px;
        
    }
    #golfglove-img-container{
        margin-left: 10px;
        margin-right: 10px;
    }
    #golfshoes-img-container {
        margin-left: 10px;
        margin-right: 10px;
    }
    #golfballs-img-container {
        margin-left: 10px;
        margin-right: 10px;
    }
    /*#members-img-container {
        height : 300px;
        width: 425px;
    } */
}


@media screen and (max-width: 450px){
    .sunset-golfer {
        height: 250px;
        width: 250px;
    } 

    #members-img-container {
        height : 108px;
        width: 206px;
    } 
}

@media screen and (max-width: 374px){
    #student-fees {
        position: static;
        flex-basis: 100%;
    }
    #members-fees {
        position: static;
        flex-basis: 100%;
    }
    #couples-fees {
        position: static;
        flex-basis: 100%;
    }

}
